@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(25, 118, 210);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(25, 118, 210);
  background-color: transparent;
  text-decoration: underline;
}

.font-quicksand {
  font-weight: 800;
}

.btn {
  
}

.logo-v {
  color: darkorange;
  font-weight:800;
  font-size:100%;
}

.logo-irat {
  color:black;
  font-size: 60%;
}
.logo-wiz {
  color:white;
  background-color: black;
  padding-left: 6px;
  padding-right: 8px;
  font-size:50%;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
  .logo-v {
    color: #fd9a01;
    font-weight:800;
    font-size:100%;
  } 
  .logo-irat {
    color:white;
   font-size: 60%;
  }
  .logo-wiz {
    color:black;
    background-color: white;
    padding-left: 6px;
    padding-right: 8px;
    font-size:50%;
  }
}
