@tailwind utilities;
@tailwind components;

.container {
  padding: 0 2rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s ease-in-out;
}

.main {
  @apply min-h-screen flex flex-col items-center justify-center flex-grow px-0 py-16;
}

.footer {
  @apply dark:border-[#222] border-solid border-1 flex items-center justify-center flex-grow px-0 py-8 border-neutral-500;
}

.footer a {
  @apply flex justify-center items-center flex-grow;
}

.title a {
  @apply no-underline whitespace-nowrap text-[#1976d2];
}

.title {
  @apply m-0 text-xxl whitespace-nowrap;
}

.title,
.description {
  @apply text-center;
}

.description {
  @apply text-[24px] leading-normal mx-0 my-16;
}

.code {
  @apply dark:text-[#333] bg-neutral-50 rounded-5 p-3 text-1.1;
}

.grid {
  @apply max-[600px]:w-full flex-col flex items-center justify-center flex-wrap max-w-800;
}

.card {
  @apply dark:border-[#222] m-4 p-6 text-left text-inherit no-underline border-1 border-solid border-neutral-200 transition-colors max-w-300 rounded-10;
}

.card:hover,
.card:focus,
.card:active {
  @apply text-blue-600 no-underline border-blue-700;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  @apply m-0 text-xl;
  margin: 0;
}

.logo {
  @apply h-[1em] ml-2;
}
